.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 5px;
  color: #333;
}

.checkbox-container input {
  display: none;
}

.checkmark {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #000000;
  background-color: white;
  background-color: transparent;
  position: relative;
  transition: all 0.2s ease;
}

.checkbox-container:hover .checkmark {
  border-color: #bc9300;
}

.checkbox-container input:checked + .checkmark {
  background-color: #bc9300;
  border-color: #bc9300;
}

.checkbox-container input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.label-text {
  transition: color 0.3s ease;
}

.checkbox-container input:checked ~ .label-text {
  color: #007bff;
  font-weight: 600;
}
