@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font: 62.5%;
    font-family: 'Caveat Brush';
}

body {
    padding: inherit;
    margin: inherit;
    height: 100%;
}

.lists-container {
    display: flex;
    height: 100vh;
    background-color: rgb(236, 255, 255);
}

nav {
    height: 100vh;
    width: 15vw;
    border-radius: 10px 5px 10px 5px;
    background-color: rgb(150, 114, 5);
}

nav > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

nav > .search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 10%;
}

nav > .search-container > .search-input {
    width: 85%;
    height: 35%;
    border-radius: 5px;
    border: 1px solid transparent;
}

nav > .search-container > .search-input:focus {
    border: 1px solid black;

}

nav > .search-container > .search-button {
    width: 50%;
    height: 30%;
}

.tasks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 90vh;
    width: 80vw;
    margin: 5vh 2.5vw 5vh 2.5vw;
    border-radius: 15px;
    background-color: rgba(255, 219, 111, 0.306);
    justify-items: center;    /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    gap: 20px;               /* Espaço entre as listas */
}

.list {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 4px 5px 15px 1px rgba(0, 0, 0, 0.32);
}

.list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.list > .list-title {
    width: 100%;
    height: 15%;
    border-radius: 10px 0px;
    background-color: rgb(207, 185, 61);
}

.list > .tasks-container {
    height: 85%;
    border-radius: 10px 0px;
    background-color: rgb(255, 248, 210);
}

.tasks-container > .task {
    width: 90%;
    height: 8%;
    margin: 1px 1px 1px 1px;
    padding: 0px 0px 0px 5px;
    border-radius: 5px;
    border: 0px solid transparent;
    background-color: rgb(230, 230, 230);
}